<div>
  <h1>Angular 14 stuff</h1>
  <section>
    <h2>Typed Form</h2>
    <form (ngSubmit)="onSubmitContactForm()" [formGroup]="contactForm">
      <div>
        <label for="name">Name: </label>
        <input id="name" type="text" formControlName="name" />
      </div>
      <div>
        <label for="email">Email: </label>
        <input id="email" type="text" formControlName="email" />
      </div>
      <div>
        <label for="contactNumber">Contact Number: </label>
        <input id="contactNumber" type="text" formControlName="contactNumber" />
      </div>
      
      <div>
        <label for="query">Query: </label>
        <textarea id="query" type="text" formControlName="query"></textarea>
      </div>
      
      <div>
        <button type="submit">Submit</button>
        <button (click)="resetSubmitContactForm()" type="reset">Reset</button>
        <button (click)="removeQuery()">Remove Query</button>
      </div>
    </form>
     <p [innerHTML]="dataOutput"></p>
    <div style="border: 1px solid rec; padding: 5px;background-color: aquamarine;">
      <pre>
{{ contactForm.value | json }}
      </pre>
    </div>
  </section>
  <section>
    <h2>Untyped Form</h2>
    <form (ngSubmit)="onSubmitProfileForm()" [formGroup]="profileForm">
      <div>
        <label for="firstName">First Name: </label>
        <input type="text" formControlName="firstName" />
      </div>
      <div>
        <label for="lastName">Last Name: </label>
        <input type="text" formControlName="lastName" />
      </div>
      <div formGroupName="address">
        <strong>Address</strong>
        <div>
          <label for="street">Street: </label>
          <input type="text" formControlName="street" />
        </div>
        <div>
          <label for="city">City: </label>
          <input type="text" formControlName="city" />
        </div>
      </div>
      <div>
        <label for="contactNumber">Contact Number: </label>
        <input type="text" formControlName="contactNumber" />
      </div>
    </form>
    <div style="border: 1px solid rec; padding: 5px;background-color: antiquewhite;">
      <pre>
{{ profileForm.value | json }}
      </pre>
    </div>
  </section>

  <section>
    <h2>Form Record</h2>
    <form (ngSubmit)="onSubmitProfileForm()" [formGroup]="folders">
      <div>
        <label for="home">home: </label>
        <input type="text" formControlName="home" />
      </div>
    </form>
    <div style="border: 1px solid rec; padding: 5px;background-color: azure;">
      <pre>
{{ folders.value | json }}
      </pre>
    </div>
  </section>

  <section>
    <h2>Form Array</h2>
    <form (ngSubmit)="onSubmitProfileForm()" [formGroup]="skillsForm">
      <div>
        <label for="name">Name: </label>
        <input type="text" formControlName="name" />
      </div>
      <p>
        <button type="button" (click)="addSkills()">Add</button>
      </p>
      <div>
        <div formArrayName="skills">
          <div *ngFor="let skill of skills.controls; let i=index">
            <div [formGroupName]="i">
              {{i}}
              skill name :
              <input type="text" formControlName="skill">
              exp:
              <input type="text" formControlName="exp">
       
              <button (click)="removeSkill(i)">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div style="border: 1px solid rec; padding: 5px;background-color: cornflowerblue;">
      <pre>
{{ skillsForm.value | json }}
      </pre>
    </div>
  </section>
</div>