<div>
  <h1>Angular 14 stuff</h1>
  <form (ngSubmit)="onSubmitContactForm()" [formGroup]="contactForm">
    <div>
      <label for="name">Name: </label>
      <input id="name" type="text" formControlName="name" />
    </div>
    <div>
      <label for="email">Email: </label>
      <input id="email" type="text" formControlName="email" />
    </div>
    <div>
      <label for="contactNumber">Contact Number: </label>
      <input id="contactNumber" type="text" formControlName="contactNumber" />
    </div>
    <div>
      <label for="query">Query: </label>
      <textarea id="query" type="text" formControlName="query"></textarea>
    </div>
    <div>
      <button type="submit">Submit</button>
      <button (click)="resetSubmitContactForm()" type="reset">Reset</button>
      <button (click)="removeQuery()">Remove Query</button>
    </div>
  </form>
  <p [innerHTML]="dataOutput"></p>
<pre>
{{ contactForm | json }}
</pre>
</div>