<section>
  <h2>Untyped Form</h2>
  <form (ngSubmit)="onSubmitProfileForm()" [formGroup]="profileForm">
    <div>
      <label for="firstName">First Name: </label>
      <input type="text" formControlName="firstName" />
    </div>
    <div>
      <label for="lastName">Last Name: </label>
      <input type="text" formControlName="lastName" />
    </div>
    <div formGroupName="address">
      <strong>Address</strong>
      <div>
        <label for="street">Street: </label>
        <input type="text" formControlName="street" />
      </div>
      <div>
        <label for="city">City: </label>
        <input type="text" formControlName="city" />
      </div>
    </div>
    <div>
      <label for="contactNumber">Contact Number: </label>
      <input type="text" formControlName="contactNumber" />
    </div>
  </form>
  <div style="border: 1px solid rec; padding: 5px;background-color: antiquewhite;">
    <pre>
{{ profileForm.value | json }}
    </pre>
  </div>
</section>
